.container {
  padding: 0px 24px;
  width: 375px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
    width: 768px;
    margin-block: 53px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin-block: 53px;
    flex-direction: row;
    justify-content: space-between;
  }
}