:root {
  /* ---------- Font Families ---------- */

  /* Libre Baskerville */
  --libre-baskerville: var(--font-libre-baskerville), Verdana, Baskerville, serif;
  --libre-baskerville-regular: 400;
  --libre-baskerville-bold: 700;

  /* Primary */
  --primary-font: var(--libre-baskerville);
  --primary-font-regular: var(--libre-baskerville-regular);
  --primary-font-bold: var(--libre-baskerville-bold);

  /* ---------- Text ---------- */

  /* Display Text */
  --display-size: 100px;
  --display-weight: 700;
  --display-line-height: 0.75; /* 150px */

  /* Heading 1 Text */
  --h1-size: 56px;
  --h1-weight: 700;
  --h1-line-height: 64px;

  /* Heading 2 Text */
  /* --h2-size: 24px;
  --h2-weight: 700;
  --h2-line-height: 29px; */
  --h2-size: 24px;
  --h2-weight: var(--primary-font-bold);
  --h2-line-height: auto;

  /* Heading 3 Text */
  --h3-size: 18px;
  --h3-weight: 700;
  --h3-line-height: 22px;

  /* Subheading 1 Text */
  --subh1-size: 15px;
  --subh1-weight: 400;
  --subh1-line-height: 19px;

  /* Subheading 2 Text */
  /* --subh2-size: 13px;
  --subh2-weight: 700;
  --subh2-line-height: 17px; */
  --subh2-size: 13px;
  --subh2-weight: var(--primary-font-regular);
  --subh2-line-height: auto;

  /* Body Text */
  --body-size: 14px;
  --body-weight: 700;
  --body-line-height: 28px;

  /* Link 1 Text */
  --link1-size: 12px;
  --link1-weight: 700;
  --link1-line-height: 15px;
  --link1-letter-spacing: 2.5px;

  /* Link 2 Text */
  --link2-size: 9px;
  --link2-weight: 700;
  --link2-line-height: 11px;
  --link2-letter-spacing: 2px;

  /* ---------- Colors ---------- */

  /* General */
  --light-hsl: 0 0% 100%;
  --dark-hsl: 0 0% 0%;
  --accent-hsl: 0 0% 49%;
  --gray-hsl: 0 0% 95%;
  --light-gray-hsl: 0 0% 75%;

  /* Text Colors */
  --display-hsl: 0 0% 95%;
  --heading-light-hsl: 0 0% 100%;
  --heading-dark-hsl: 0 0% 0%;
  --subheading-hsl: 0 0% 49%;
  --subheading-light-hsl: 0 0% 75%; /* 0.7528 0 0% 0% 0.75 */
  --link-hsl: 0 0% 49%;
  --body-hsl: 0 0% 49%;
  --dev-text: 0 0% 100%;

  /* Button Colors */
  --slideshow-button-normal-hsl: 0 0% 49%;
  --slideshow-button-hover-hsl: 0 0% 0%;

  --media-button-normal-hsl: 0 0 100%;
  --media-button-hover-hsl: 0 0% 85% 0.5;
  --media-button-disabled-hsl: 0 0% 85% 0.15;

  --source-button-hsl: 0 0% 49%;
  --source-button-hover-hsl: 0 0 100%;

  --view-button-normal-hsl: 0 0% 100% 0.75; /* 0.7546 */
  --view-button-hover-hsl: 0 0% 0% 0.25; /* .2522 */

  /* Background Colors */
  --background-hsl: 0 0% 100%;
  --lightbox-opacity: 0.8539;
  --dev-bg: 0 0% 0%;

  /* Decoration Colors */
  --hr-hsl: 0 0% 90%;

  /* ---------- Gradients ---------- */

  /* Image Gradients */
  --img-gradient-start: 0 0% 0% 0; /* 0.01 */
  --img-gradient-end: 0 0% 0% 0.85; /* 0.8417 */
  --img-gradient: linear-gradient(
    hsl(var(--img-gradient-start)),
    hsl(var(--img-gradient-end))
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(var(--background-hsl));
  color: hsl(var(--body-hsl));
  font-family: var(--primary-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  width: 100%;
  user-select: none;
  object-fit: cover;
}